@model AlMorugWeb.Models.ViewModels.ProductModel
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/add.css" />



<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">

            <div class="form-group">
                <label class="control-label">@localizer["Project Name"]</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@localizer["Project Name In Arabic"]</label>
                <input asp-for="ProductNameAr" class="form-control" />
                <span asp-validation-for="ProductNameAr" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">@localizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">@localizer["Description In Arabic"]</label>
                <input asp-for="DescriptionAr" class="form-control" />
                <span asp-validation-for="DescriptionAr" class="text-danger"></span>
            </div>

            <div>
                <label class="control-label">@localizer["Location"] </label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@localizer["Phone Number"] </label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <label>@localizer["Price"] </label>
                <input style="background-color:#FECE3E ; padding: 5px;margin-bottom: 10px ;width: 100%; " asp-for="Price" />

                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="GalleryFiles" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="GalleryFiles" class="text-danger"></span>
            </div>
            <div>
                <label>
                    <input asp-for="IsInternal" /> @Html.DisplayNameFor(model => model.IsInternal)
                </label>
            </div>


           

            <div >
                <input class="center" type="submit" value="@localizer["Edit"]" />
            </div>
        </form>




    </div>
</div>
<form asp-action="ClearOldPhotos" method="post" asp-route-id="@Model.Id">
    <div>
        <button class="center" type="submit" >Clear All Old Photos</button>

    </div>

</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


 