@model IEnumerable<AlMorugWeb.Models.ViewModels.ProductModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
@foreach(var item in Model)
{
<div class="card" style="width: 18rem;">
        @if (@item.Gallery.Count> 0)
        {
            <img class="card-img-top" src="@item.Gallery[0].URL">
        }
        else
        {
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg">

        }
        <div class="card-body">
    <h5 class="card-title">@item.ProductName</h5>
    <p class="card-text">@item.Description</p>
    <p class="card-title">@item.PhoneNumber</p>

            <a href="@item.Location" target="_blank" class="link-success">Location</a>

    <p class="card-title">@item.Price</p>
    <p class="card-title">@item.CreatedDateTime</p>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>    
}
